html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Place Holder
    body
        h1 Test of a pug file

        div(id="first-num")= firstNum
        div(id="operand")= operand
        div(id="second-num")= secondNum
        input(type="text", name="answer")